<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Password confirmation:</strong>
    <%= user.password_confirmation %>
  </p>

  <p>
    <strong>English level:</strong>
    <%= user.english_level %>
  </p>

  <p>
    <strong>Tecnic knowledge:</strong>
    <%= user.tecnic_knowledge %>
  </p>

  <p>
    <strong>Cv link:</strong>
    <%= user.cv_link %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user.admin %>
  </p>

</div>
